<div class="container mt-5">
    <h1 class="text-center text-info">Acerca de</h1>
    <p class="text-center mt-3">
        Bienvenido a nuestro gestor de articulos. Esta aplicación fue creada para ayudarte a organizar y gestionar tus publicaciones de manera eficiente y sencilla.
    </p>

    <div class="row mt-4">
        <div class="col-md-6">
            <img src="images\itgam.jpg" alt="Equipo de desarrollo" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-6">
            <h2 class="text-secondary">Nuestro objetivo</h2>
            <p>
                "Nuestra misión es proporcionar una herramienta fácil de usar que permita a los usuarios enfocarse en crear contenido, mientras gestionamos los detalles técnicos."
            </p>
            <p>
                Si tienes preguntas o comentarios, no dudes en contactarnos.
            </p>
            <a href="/" class="btn btn-primary mt-3">Volver al Inicio</a>
        </div>
    </div>
</div>
